/*css styles for register-page*/
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

:root{
    --bg:#F2FFE1;
    --primary:#F5D636;
    --active-primary:#EDCB1C;
    --text:#3A001E;
    --text2: #FA3F1F;
    --input-bg:#F7F3DC;
    --eye-icon:#CEC699;
    --block: #4ADE5D;
    --block-p:#277B32;
    --block-h1: #0F4C17;
    --form-bg: #FFFDEF;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    min-height: 100vh;
}

main {
    padding-top: 8rem; /*height of header */
}

.section {
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

/*green block*/
.green-block {
    width: 90%;
    margin: clamp(1rem, 6vw, 4.5rem) auto;
    max-width: 780px;
    background: var(--block);
    border-radius: 25px;
    z-index: 0;
    box-shadow: rgba(175, 255, 173, 1) 0px 0px 80px 0px;
}

/* register block */
.form {
    width: 100%;
    background: var(--form-bg);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    border-radius: 25px;
    z-index: 1;
    margin-top: 20px;
}

.form-title{
    position: relative;
    margin-bottom: 20px;
}

.form-title h1{
    color: var(--text);
    font-size: 2rem;
}

.form-field{
    display: grid;
    gap: 1.25rem;
}

.form-field-input{
    position: relative;
}

input, button, .secondary-btn{
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    transition: .3s ease;
}

.form-field-input input {
    width: 100%;
    background: var(--input-bg);
    padding: 5px 13px;
    font-size: 1rem;
    margin-top: 8px;
}

.form-field-input .with-desc {
    display: flex;
    flex-direction: column;
}

small {
    font-size: 0.8rem;
    font-style: italic;
    color: #9C8993;
}

.form-field-input input[type="file"] {
    width: max-content;
    background-color: transparent;
    padding: 0;
    color: var(--text);
    font-size: 0.9rem;
}

.form-field-input label{
    color: var(--text);
}

.form-field-input input:focus{
    border: 2px solid var(--primary);
}

.input-container {
    position: relative;
}

.hidepass {
    display: none;
}

.input-container .showpass, .input-container .hidepass {
    position: absolute;
    font-size: 1.2rem;
    right: 10px; /* Adjust this value to adjust the position of the icon */
    top: 40%; /* Adjust this value to vertically center the icon */
    /* transform: translateY(-50%); */
    cursor: pointer;
}

p.label-desc {
    font-style: italic;
    font-size: 0.8rem;
    margin-top: 3px;
    color: #A8A4A6;
}

.hidepass, .showpass{
    position: absolute;
    right: 15px;
    top: 34px;
    font-size: 1.2rem;
    color: var(--eye-icon);
    cursor: pointer;
}

.remember-and-forgot-block {
    font-size: .9rem;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.checkbox {
    display: flex;
    justify-content: flex-start;
}

.checkbox input {
    margin-top: 0;
}

.checkbox label {
    margin-left: 10px;
    white-space: nowrap;
}

.remember-and-forgot-block a {
    text-decoration: none;
    color: var(--text);
}
.input-control {
    position: relative;
}

.input-control.error input {
    border-color: var(--text2);
}

.input-control .error {
    position: absolute;
    top: 100%; /* Position it just below the input */
    color: var(--text2);
    font-size: 0.7rem;
    margin-top: 2px;
}

button, .secondary-btn{
    border-radius: 50px;
    border: 2px solid transparent;
    padding: 10px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: .3s ease;
}

.primary-btn{
    background: var(--primary);
    color: var(--text);
    font-weight: 600;
    margin-top: 0.8rem;
}

.primary-btn:hover{
    background: var(--active-primary);
    color: var(--text);
    border: 2px solid var(--active-primary);
}

.small-text {
    text-align: center;
}

.login-link {
    color: var(--text);
    font-weight: bold;
    text-decoration: none;
}
/* end of login block */

@media only screen and (width <= 860px) {
    main {
        padding-top: 4rem;
    }

    .form-title h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (width <= 600px) {
    .form {
        padding: 6%;
    }
}