*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

:root{
    --bg:#EDE9D0;
    --primary:#F5D636;
    --active-primary:#EDCB1C;
    --input-bg:#F7F3DC;
    --form-bg: #FFFDEF;
    --available:#A8D991;
    --available-text:#304D23;
    --fully-booked:#C13B24;
    --fully-booked-text:var(--text);
    --closed:#3B3B3B;
    --closed-text:#A9A9A9;
    --product-info-bg: #C13B24;
    --light-text: #FEFBEA;

    --text:#3A3F42;
    --light-blue: #DEECF9;
    --darker-row: #deecf94f;
    --sidemenu-blue: #6EA4E4;
    --sidemenu-blue-hover: #5790D5;
    --sidemenu-blue-text: #163860;
    --db-highlight-blue: #93CBFF;
    --gray: #878F94; /*used in application detail's section heading p*/
    --accept-green: #78D35A;
    --reject-red: #DA523B;
}

html {
    color: var(--text);
}

/* @media only screen and (min-width: 700px) {
    .product-landing {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }
    .PL-text {
        width: 60%;
    }
    .button {
        width: max(50%, 200px);
    }

    .product-landing h1 {
        text-align: left;
        font-size: 6rem;
    }

    .product-landing img {
        width: min(30%, 300px);
    }
} */

body{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    min-height: 100vh;
    color: #3A3F42;
}

main {
    padding-top: 130px;
    height: 100vh;
}

.section {
    width: 80%;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-heading {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.8rem;
}

.row {
    flex-direction: row;
    align-items: center;
}

.back {
    justify-content: space-between;
}

.back a {
    margin-right: 2rem;
    color: var(--text);
    font-weight: 500;
}

.row p {
    margin-left: 1rem;
    color: var(--gray);
}

.section-heading h2 {
    font-size: 2.0625rem;
}

.inline {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dropdown {
    background-color: #ECEFEF;
    color: var(--text);
    padding: 4px 8px;
    width: 7.25rem;
    border-radius: 3px;
    border: none;
    margin-left: 1.5rem;
}

.section-body {
    display: flex;
    gap: 4.5rem;
}

.main-section {
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

p.bold-font, .app-det-tbl .bold-font {
    font-weight: bold;
}

.app-det-tbl td.bold-font {
    width: 10%;
    padding-left: 1.5rem;
}

.app-det-tbl td.top {
    padding-top: 1.25rem;
    padding-bottom: 5px;
}

.app-det-tbl td.bottom {
    padding-bottom: 1.25rem;
}

.table-wrapper {
    background-color: var(--light-blue);
    border-radius: 1rem;
    padding: 1px;
    height: max-content;
}

table {
    background: white;
    border-radius: 1rem;
    border-collapse: collapse;
    width: 100%;
}

table .link {
    color: var(--text);
    font-weight: 500;
}

table .link:hover {
    color: var(--sidemenu-blue-hover);
}

table .error {
    color: var(--gray);
    text-align: center;
    font-style: italic;
    padding: 1.5rem 0;
}

table .edit {
    color: var(--sidemenu-blue-text);
    font-weight: bold;
}

.app-det-tbl {
    background: var(--light-blue);
}

table th.header, .app-det-tbl table td.header {
    padding: 1.5rem 1rem 0.5rem 1rem ;
    background: var(--light-blue);
}

table th.header:first-of-type {
    border-top-left-radius: 1rem;
}

table th.header:last-of-type {
    border-top-right-radius: 1rem;
}

td,th {
    text-align: left;
}

td {
    padding: 0.8rem;
    padding-left: 1rem;
}

.alternating tr:nth-last-of-type(2n) {
    background: var(--darker-row);
}

table img {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 5px;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

button {
    display: inline-block;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

table button {
    font-size: 1.6rem;
    clip-path: circle();
    shape-outside: circle();
}

.btn-check i {
    color: #78D35A;
}

.btn-cross i {
    color: var(--reject-red);
}

.valid-id {
    margin-top: 2rem;
    gap: 1rem;
}

.valid-id img {
    width: 60%;
}
.grid-container {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.grid-container .box {
    width: 100%;
    height: 100%;
    background-color: var(--light-blue);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding: 1.25rem;
    position: relative;
    color: var(--text);
    text-decoration: none;
    /* box-shadow: var(--db-highlight-blue) 0px 3px 4px 0px; pick a better color db-higlight0blue as shadow is good for lightblue but not for the same color */
}

.grid-container .box:hover {
    cursor: pointer;
    box-shadow: #cfd9e3 0px 2px 4px 0px;
}

.grid-container .blue {
    background-color: var(--db-highlight-blue);
}

.grid-container .box p {
    font-weight: bold;
    font-size: 0.9rem;
}

.grid-container .box h1 {
    font-size: 2.7rem;
}

p.notif {
    width: max-content;
    height: max-content;
    font-size: 0.75rem;
    font-weight: bold;
    background-color: red;
    color: #fff;
    padding: 0.4rem 0.2rem;
    border-radius: 50%;
    margin-right: -11rem;
}

.side-menu {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.side-menu h3 {
    font-size: 1.25rem;
}

.side-menu .inventory-box, a.view, .big-btn{
    display: block;
    background-color: var(--sidemenu-blue);
    padding: 0.9rem 1.1rem;
    margin-top: 0.6rem;
    font-size: 1rem;
    color: var(--sidemenu-blue-text);
}

.side-menu a.view:hover {
    background-color: var(--db-highlight-blue);
}

.side-menu .inventory-box {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 1rem;
}

.side-menu a {
    text-decoration: none;
    font-weight: bold;
    color: var(--sidemenu-blue-text);
    border-radius: 1.2rem;
}

.side-menu .inventory-box a.edit {
    font-size: 1rem;
    padding: 0;
    border-radius: 0;
    margin: 0;
    width: max-content;
}

.side-menu .inventory-box a.edit:hover {
    text-decoration: underline;
}

.side-menu .inline {
    justify-content: space-between;
}

a.big-font {
    font-size: 1.25rem;
    padding: 0.6rem 1.1rem;
    border-radius: 2rem;
}

.side-menu .position-notif {
    position: relative;
    z-index: 0;
}

.side-menu p.notif {
    position: absolute;
    margin-top: -2.25rem;
    left: 14.25rem;
    z-index: 1;
}

a.accept {
    background-color: var(--accept-green);
    color: black;
}

a.reject {
    background-color: var(--reject-red);
    color: black;
}

.big-btn {
    border-radius: 1.2rem;
    width: 25%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 2.25rem;
}

.big-btn:hover {
    background-color: var(--sidemenu-blue-hover);
}

a.page-btn {
    text-decoration: none;
}

.block {
    background-color: var(--light-blue);
    border-radius: 1rem;
    padding: 1.5rem;
}

.form {
    display: flex;
    gap: 1rem;
}

.form section {
    width: 50%;
}

.form-title{
    position: relative;
    margin-bottom: 20px;
}

.form-title h1{
    color: var(--text);
    font-size: 1.25rem;
}

.form-field{
    display: grid;
    gap: 1.5rem;
}

.form-field-input{
    position: relative;
}

form input {
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    transition: .3s ease;
}

.form-field-input input:not(.image) {
    width: 100%;
    padding: 5px 13px;
    background: #BAD6EF;
    font-size: 1rem;
    margin-top: 8px;
}

.form-field-input p {
    font-style: italic;
    font-size: 0.8rem;
    color: var(--gray);
    margin-top: 3px;
    margin-bottom: 8px;
}

.form-field-input label{
    color: var(--text);
}

.form-field-input input:focus{
    border: 2px solid var(--sidemenu-blue);
}

.hidepass, .showpass{
    position: absolute;
    right: 15px;
    top: 34px;
    font-size: 1.2rem;
    color: #8191c2;
    cursor: pointer;
}

.calendar {
    width: 100%;
    min-height: 30rem;
}

.right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.right-side h3{
    font-size: 1.625rem;
}

.right-side .grid-container {
    width: 100%;
    margin-top: 1rem;
}

.right-side .grid-container .box {
    gap: 1rem;
    background-color: #fff;
    box-shadow: #cfd9e3 0px 2px 4px 0px;
}

.right-side .grid-container .green {
    color: #90BD7A;
}

.right-side .grid-container .red {
    color: var(--reject-red);
}

.right-side .grid-container p {
    font-weight: normal;
    font-size: 0.9rem;
}

.right-side .block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: #cfd9e3 0px 2px 4px 0px;
}

.right-side hr {
    margin-top: 0.25rem;
    margin-bottom: 1.25rem;
    color: #B5D0EF;
}

.right-side button {
    padding: 0.6rem 1.25rem;
    border-radius: 1.5rem;
}

.right-side .button {
    width: max-content;
    font-size: 1rem;
    color: black;
}

.right-side .green {
    background-color: var(--available);
}

.right-side .red {
    background-color: var(--reject-red);
}

.right-side .black {
    background-color: #000;
    color: white;
}

.save-btn {
    width: 30%;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #5FA9FF;
}

.order-details {
    width: 40%;
    margin: 0 auto;
    padding-right: 0.5rem;
}

.order-details .scroll {
    height: max-content;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    overflow-x: hidden;
    padding-right: 1rem;
}

a.back {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 0.75rem;
}

.order-details table {
    border-radius: 0;
    border-top: 1px solid #B4CFE8;
    border-bottom: 1px solid #B4CFE8;
    background-color: var(--light-blue);
}

.order-details td, .order-details th {
    padding: 0.5rem 0;
    text-align: left;
}

.order-details table.contact-info td {
    text-align: right;
}

.order-details .delivery-grp {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.order-details .text-grp h3{
    font-size: 1rem;
    margin-bottom: 4px;
}

.order-details table .item-col {
    width: 65%;
}

.order-details table .subtotal-col {
    text-align: right;
}

.order-details .payment {
    display: flex;
    justify-content: flex-end;
}

.order-details .payment h3:first-of-type{
    margin-right: 1rem;
    font-weight: normal;
}

.calendar-block {
    background-color: var(--light-blue);
    height: auto;
    border-radius: 1.383rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.3); */
    box-shadow: #cfd9e3 0px 2px 4px 0px;
}

.monthYear {
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;
}

.calendar-block .header {
    height: 6.5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.calendar-block .header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 1.625rem;
    height: 1.625rem;
    font-size: 1.625rem;
    font-weight: bold;
    background-color: var(--light-blue);
    color: var(--text);
}

.calendar-block .header button:hover {
    background-color: var(--db-highlight-blue);
}

.days {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.day {
    text-align: center;
    padding: 5px;
    color: black;
    font-weight: 500;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    /* cursor: pointer; */
    font-weight: 600;
    /* border-radius: 50%; */
    width: 100%;
    height: 5rem;
    transition: 0.2s;
    font-size: 1.625rem;
}

.date:hover,
.date.active {
    background: var(--db-highlight-blue);
    color: white;
}

.date.inactive {
    color: #7297BD;
}

.date.inactive:hover {
    color: white;
}

/* for admin inventory*/
span.warning {
    display: flex;
    align-items: center;
    gap: 4px;
}

span.warning p {
    width: max-content;
    background-color: #f42121;
    padding: 4px 12px;
    border-radius: 1rem;
    color: white;
}

span.warning i {
    font-size: 1.33rem;
    color: #f42121;
}


