*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

:root{
    --bg:#EDE9D0;
    --primary:#F5D636;
    --active-primary:#EDCB1C;
    --input-bg:#F7F3DC;
    --form-bg: #FFFDEF;
    --available:#A8D991;
    --available-text:#304D23;
    --fully-booked:#C13B24;
    --fully-booked-text:var(--text);
    --closed:#3B3B3B;
    --closed-text:#A9A9A9;
    --product-info-bg: #C13B24;
    --light-text: #FEFBEA;


    --text:#3A3F42;
    --light-blue: #DEECF9;
    --sidemenu-blue: #6EA4E4;
    --db-highlight-blue: #93CBFF;
}

html {
    color: var(--text);
}

/* @media only screen and (min-width: 700px) {
    .product-landing {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }
    .PL-text {
        width: 60%;
    }
    .button {
        width: max(50%, 200px);
    }

    .product-landing h1 {
        text-align: left;
        font-size: 6rem;
    }

    .product-landing img {
        width: min(30%, 300px);
    }
} */

body{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    min-height: 100vh;
    color: #3A3F42;
}

main {
    padding-top: 130px;
    height: 100vh;
}

.section {
    width: 80%;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-heading {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.8rem;
}

.section-heading h2 {
    font-size: 2.0625rem;
}

.inline {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dropdown {
    background-color: rgb(224, 224, 224);
    padding: 3px;
    width: 7rem;
    border-radius: 3px;
}
.section-body {
    display: flex;
    gap: 4.5rem;
}

.main-section {
    width: 100%;
}

.table {
    background-color: var(--light-blue);
    border-radius: 1rem;
}

.grid-container {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.grid-container .box {
    width: 100%;
    height: 100%;
    background-color: var(--light-blue);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding: 1.25rem;
    position: relative;
    /* box-shadow: var(--db-highlight-blue) 0px 3px 4px 0px; pick a better color db-higlight0blue as shadow is good for lightblue but not for the same color */
}

.grid-container div.blue {
    background-color: var(--db-highlight-blue);
}

.grid-container .box p {
    font-weight: bold;
    font-size: 0.9rem;
}

.grid-container .box h1 {
    font-size: 2.7rem;
}

.grid-container .box p.notif {
    font-size: 0.75rem;
    background-color: red;
    color: #fff;
    padding: 0.4rem 0.2rem;
    border-radius: 50%;
    margin-right: -11rem;
}

.side-menu {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.side-menu h3 {
    font-size: 1.25rem;
}

.side-menu .inventory-box, a.view{
    display: block;
    background-color: var(--sidemenu-blue);
    padding: 0.9rem 1.1rem;
    margin-top: 0.6rem;
    font-size: 1rem;
}

.side-menu .inventory-box {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 1rem;
}

.side-menu a {
    text-decoration: none;
    font-weight: bold;
    color: #3A3F42;
    border-radius: 1.2rem;
}

.side-menu .inventory-box a.edit {
    font-size: 1rem;
    padding: 0;
    border-radius: 0;
    margin: 0;
    width: max-content;
}

.side-menu .inline {
    justify-content: space-between;
}


