*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

:root{
    --bg:#EDE9D0;
    --primary:#F5D636;
    --active-primary:#EDCB1C;
    --input-bg:#F7F3DC;
    --form-bg: #FFFDEF;
    --available:#A8D991;
    --available-text:#304D23;
    --fully-booked:#C13B24;
    --fully-booked-text:var(--text);
    --closed:#3B3B3B;
    --closed-text:#A9A9A9;
    --product-info-bg: #C13B24;
    --block: #FEFBEA;
    --light-text: var(--block);
    --text: #3A001E;
}

/* @media only screen and (min-width: 700px) {
    .product-landing {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }
    .PL-text {
        width: 60%;
    }
    .button {
        width: max(50%, 200px);
    }

    .product-landing h1 {
        text-align: left;
        font-size: 6rem;
    }

    .product-landing img {
        width: min(30%, 300px);
    }
} */

body{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    min-height: 100vh;
}

main {
    padding-top: 130px;
    padding-bottom: 7rem;
    height: max-content;
    background-color: var(--bg);
    color: var(--text);
}

.section {
    width: 80%;
    margin: auto;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-heading {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.8rem;
}

.section-heading h2 {
    font-size: 2.0625rem;
}

.dropdown {
    background-color: rgb(224, 224, 224);
    padding: 3px;
    width: 7rem;
    border-radius: 3px;
}
.section-body {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}

.block {
    background-color: var(--block);
    border-radius: 1rem;
    padding: 1.5rem;
}

.cart .block {
    height: 45vh;
}

.block-body {
    background-color: gray;
    height: 100px;
}

a.page-button {
    background-color: var(--primary);
    width: max-content;
    border-radius: 1.7rem;
    padding: 1rem 2rem;
    color: var(--text);
    text-decoration: none;
    font-size: 1.33rem;
    font-weight: bold;
}

.cart a.page-button {
    margin: 0 auto;
}

a.page-button:hover {
    background-color: var(--active-primary);
}



























