*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

:root{
    --bg:#EDE9D0;
    --primary:#F5D636;
    --active-primary:#EDCB1C;
    --input-bg:#F7F3DC;
    --form-bg: #FFFDEF;
    --available:#A8D991;
    --available-text:#304D23;
    --fully-booked:#C13B24;
    --fully-booked-text:var(--text);
    --closed:#3B3B3B;
    --closed-text:#A9A9A9;
    --product-info-bg: #C13B24;
    --block: #FEFBEA;
    --light-text: var(--block);
    --text: #3A001E;
    --gray: #DFDCCB;
    --green: #6FDE4A;
    --red: #C13B24;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    min-height: 100vh;
    min-width: 320px;
}

main {
    padding-top: 8rem; /*height of header */
    /* padding-bottom: 7rem; */
    min-height: 70vh;
    background-color: var(--bg);
    color: var(--text);
    /* overflow: hidden;    */
}

.section {
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.container {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: clamp(1rem, 6vw, 4.5rem) auto;
    border: 1px solid red;
}

img {
    object-fit: cover;
}

.section-heading {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.8rem;
}

.section-heading h2 {
    font-size: 2.0625rem;
}

.dropdown {
    background-color: rgb(224, 224, 224);
    padding: 3px;
    width: 7rem;
    border-radius: 3px;
}
.section-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart .section-body {
    gap: 2.5rem;
}

.block {
    background-color: var(--block);
    border-radius: 1rem;
    padding: 1.5rem;
}

h3.block-heading {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.order h3.block-heading {
    margin-bottom: 0;
}

.circles-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.circle-grp {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

div.circle {
    content: "";
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--green);
}

.circle-grp p {
    text-align: center;
    color: var(--green);
}

/* .order-status::before {
    content: "";
    border: 1px solid var(--gray);
    display: block;
    margin-bottom: 1.25rem;
} */

.track-order #status {
    display: none;
}

.track-order h3.order-status {
    margin-bottom: 0.33rem;
    font-size: 1rem;
}

.track-order p.order-status-desc {
    font-size: 0.85rem;
}

.track-order #payment-section {
    display: none;
    background: #E3FFD6;
}

.track-order #payment-section .block-body {
    display: flex;
    gap: 5rem;
}

.track-order #payment-section button {
    background-color: var(--primary);
    border: none;
    padding: 3px 6px;
    border-radius: 4px;
}

.track-order #payment-section button:hover {
    background-color: var(--active-primary);
}

.track-order #payment-section p.prompt {
    display: none;
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 1rem;
    color: var(--available);
}

/* order summary table in cart, checkout, and order tracking */

table.order {
    border-collapse: collapse;
    width: 100%;
}

table.order .header {
    padding: 5px 0;
    text-align: left;
    border-bottom: 1px solid #DFDCCB;
    font-size: 0.9rem;
}

table.order tr:nth-last-of-type(2n) {
    background: #FBF7E3;
}

table.order img {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 5px;
    margin-right: 2rem;
    margin-left: 4rem;
}

table.order .pic-grp {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

table.order .first-col {
    width: 70%;
}

table.order .quantity-col {
    width: max-content !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.9rem;
}

table.order .narrow-col {
    width: 13%;
}

table.order .price-col {
    width: 10%;
}

table.order tr:last-of-type {
    border-bottom: 1px solid #DFDCCB;
}

table .error {
    color: #3B3B3B;
    text-align: center;
    font-style: italic;
    padding: 1.5rem 0;
}

/* end of table */

.cart .trash {
    color: var(--text);
    text-decoration: none;
}

.cart .trash:hover {
    cursor: pointer;
}

.cart .trash:active {
    color: var(--red);
}

.cart .quantity-col p.remaining{
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 4px;
}

.payment {
    width: 100%;
    display: flex;
    margin-top: 1.1rem;
}

.payment h3:first-of-type {
    width: 86%;
    text-align: right;
    margin-right: 1rem;
}

.cart .payment h3:first-of-type {
    width: 82%;
}

.cart div.block-body {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info-blk {
    width: 80%;
    min-height: max-content;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}

.contact-info-blk .left, .contact-info-blk .right {
    width: 100%;
}

.contact-info-blk hr {
    border: 1px solid #ae3621;
}

.contact-info-blk p{
    font-weight: bold;
}

.contact-info-blk input, .track-order input, .customer-note{
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px 13px;
    font-size: 1rem;
}

.contact-info-blk input, .track-order input {
    margin-top: 8px;
    margin-bottom: 1.25rem;
}

.contact-info-blk input, .customer-note {
    background-color: #D95039;
    color: white;
}

.customer-note { 
    /* min-height: 5rem; */
}

.track-order #payment-section input {
    background-color: #D7F5CA;
    color: var(--text);
}

.wrapper {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    justify-content: space-between;
    background-color: var(--block);
}

.left-side-dvd {
    width: 100%;
}

.radio {
    display: flex;
    gap: 3rem;
}

.radio .date {
    margin-left: 0.75rem;
}

.time-slot {
    background-color: #F8745E;
    width: 40%;
}

.red-theme {
    color: var(--light-text);
    background-color: var(--red);
}

.customer-note {
    width: 100%;
}

.note {
    padding: 0.8rem 1.5rem;
    font-size: 0.85rem;
    background-color: #FBE4A8;
    border: 1px solid #F5D636;
}

.center {
    margin: 0 auto;
}

div.btn-container {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.page-button {
    background-color: var(--primary);
    width: max-content;
    border-radius: 1.7rem;
    padding: 1rem 2rem;
    color: var(--text);
    text-decoration: none;
    font-size: 1.33rem;
    font-weight: bold;
    border: none;
}

.page-button:hover {
    cursor: pointer;
    background-color: var(--active-primary);
}

a.clear-bg, a.clear-bg:hover {
    background-color: var(--bg);
}

.menu .section-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px)); 
    gap: 2rem 3rem;
}

.menu .menu-item img {
    width: 100%;
    border-radius: 1rem;
}

.menu .menu-item {
    background-color: var(--block);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px 0px;
}

.menu .menu-item {
    text-decoration: none;
    color: var(--text);
}

.menu .menu-item:hover {
    cursor: pointer;
}

.menu .menu-item .text {
    margin: 0.8rem 1rem 1rem 1rem;
}

.menu .menu-item p.name{
    margin-bottom: 6px;
}

.menu .menu-item .inline {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu .menu-item .inline p {
    font-size: 0.9rem;
    margin-bottom: 4px;
}

.menu .menu-item .inline h2 {
    font-size: 1.625rem;
}

a.back {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 0.75rem;
}

.product-info-page .block {
    padding: 0;
    width: 100%;
    max-width: 915px;
    height: 17rem;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    overflow-y: hidden;
}

.product-info-page .img-container{
    width: 35%;
    max-width: 20rem;
    border-radius: 1rem 0 0 1rem;
    border: 1px solid violet;
}

.product-info-page img{
    width: 100%;
}

.product-info-page .right-grp {
    width: 70%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.product-info-page .right-grp h1 {
    font-size: 1.625rem;
}

.product-info-page .top h1 {
    margin-bottom: 8px;
}

.product-info-page .bottom {
    border: 1px solid blue;
}

.product-info-page .bottom button {
    max-width: 25rem;
}

.product-info-page .inline {
    width: 65%;
    margin-bottom: 0.8rem;
}

.inline {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.quantity-grp {
    display: flex;
    align-items: center;
    gap: 8px;
}

.product-info-page .quantity-grp i {
    font-size: 1.5rem;
}

.cart .quantity-grp i {
    font-size: 1.25rem;
}

.quantity-grp i:hover {
    color: var(--primary);
    cursor: pointer;
}

.amount {
    background-color: white;
    width: 2.7rem;
    height: max-content;
    border-radius: 3px;
    font-size: 0.9rem;
    text-align: center;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
}

.product-info-page p.remaining {
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 3px;
    text-wrap: nowrap;
}

.product-info-page button {
    width: 100%;
    font-size: 1.25rem;
    padding: 8px;
    background-color: var(--primary);
    border: none;
    font-weight: bold;
    color: var(--text);
    border-radius: 1rem;
}

.product-info-page button:hover {
    background-color: var(--active-primary);
    cursor: pointer;
}

/*order tracking progress bar*/
.track-order .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 2rem 0;
  }
  
  .track-order .container .steps {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .steps .step {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps .circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #DFDCCB;
    font-size: 22px;
    font-weight: 500;
    border-radius: 50%;
    background: #DFDCCB;
    transition: all 200ms ease;
    transition-delay: 0s;
    z-index: 10;
  }

  .steps .circle i {
    font-size: 2rem;
    font-weight: 600;
  }

  .steps .label {
    color: #DFDCCB; /* Set the initial label color to gray */
    font-size: 1rem;
    margin-top: 8px;
    font-weight: bold;
  }

  .steps .circle.active + .label {
    color: #6FDE4A;
  }

  .steps .circle.active {
    transition-delay: 100ms;
    border-color: #6FDE4A;
    color: white;
    background-color: #6FDE4A;
  }
  .steps .progress-bar {
    position: absolute;
    height: 0.5rem;
    width: 95%;
    background: #DFDCCB;
    bottom: 58%;
    margin-left: 8px;
  }
  .progress-bar .indicator {
    position: absolute;
    height: 100%;
    width: 0%;
    background: #6FDE4A;
    transition: all 300ms ease;
  }
  .track-order .container .buttons {
    display: flex;
    gap: 20px;
  }
  .buttons button {
    padding: 8px 25px;
    background: #4070f4;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transition: all 200ms linear;
  }
  .buttons button:active {
    transform: scale(0.97);
  }
  .buttons button:disabled {
    background: #87a5f8;
    cursor: not-allowed;
  }

  div.order-status-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--gray);
    padding-top: 1.25rem;
    }

  .button {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.3rem;
    font-weight: bold;
    border-radius: 30px;
    background-color: var(--primary);
    text-decoration: none;
    color: var(--text);
    border: none;
}

.button:hover {
    background-color: var(--active-primary);
    cursor: pointer;
}

#generate-receipt-btn {
    display: none;
}

@media only screen and (width <= 950px) {
    /* .menu .section-body {
        grid-template-columns: repeat(auto-fit, minmax(150px, 150px)); 
        gap: 2rem;
    } */
}

@media only screen and (width <= 860px) {
    main {
        padding-top: 4rem;
    }

    .menu .section-body {
        grid-template-columns: repeat(2,1fr); 
        gap: 2rem;
    }
}

@media only screen and (width <= 640px) {
    .product-info-page .block {
        flex-direction: column;
        overflow-y: visible;
        height: max-content;
    }

    .product-info-page img {
        width: 100%;
    }

    .product-info-page .block .img-wrapper {
        width: 100%;
    }
}

@media only screen and (width <= 361px) {
    .menu .section-body {
        grid-template-columns: 1fr;
    }
    .menu .menu-item img{
        height: 8rem;
        object-fit: cover;
    }
    .menu .menu-item .text {
        margin: 0.4rem 0.6rem 0.6rem 0.6rem;
    }
    .menu .menu-item p.name, .menu .menu-item .inline p{
        font-size: 0.9rem;
    }
    .menu .menu-item .inline h2 {
        font-size: 1.33rem;
    }

}