/*css styles for forgot-password page*/
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

:root{
    --bg:#F2FFE1;
    --primary:#F5D636;
    --active-primary:#EDCB1C;
    --text:#3A001E;
    --text2: #FA3F1F;
    --input-bg:#F7F3DC;
    --eye-icon:#CEC699;
    --block: #4ADE5D;
    --block-p:#277B32;
    --block-h1: #0F4C17;
    --form-bg: #FFFDEF;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    min-height: 100vh;
}

main {
    padding-top: 210px;
    padding-bottom: 120px;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
}

/* forgot-password block */
.form {
    background: var(--form-bg);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px 40px;
    border-radius: 25px;
    z-index: 1;
}

.forgot-pass-form {
    width: max(40%, 425px);
    width: min(100%, 425px);
    position: relative;
    
}

@media (min-width: 320px)
{
    .forgot-pass-form {
        margin: 5px;
        
    }
}

.reg-form {
    width: 800px; /*100% of parent's width, 425px minimum width (default size), */
    position: relative;
    top: -425px;
}

.form-title{
    position: relative;
    /* padding-left: 15px; */
    margin-bottom: 25px;
}

.form-title h1{
    color: var(--text);
    font-size: clamp(1rem, 1rem + 2.5vw, 2rem);
}

.title-desc{
    color: var(--text);
    margin-top: 8px;
    font-size: clamp(0.625rem, 0.3125rem + 2.5vw, 1.25rem);
}

.form-field{
    display: grid;
    gap: .8rem;
}

.form-field-input{
    position: relative;
}

input, button{
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    transition: .3s ease;
}

.form-field-input input {
    width: 100%;
    padding: 5px 13px;
    background: var(--input-bg);
    font-size: 1rem;
    margin-top: 8px;
}

.form-field-input label{
    color: var(--text);
}

.form-field-input input:focus{
    border: 2px solid var(--primary);
}

.hidepass, .showpass{
    position: absolute;
    right: 15px;
    top: 34px;
    font-size: 1.2rem;
    color: var(--eye-icon);
    cursor: pointer;
}

.error {
    color: var(--text2);
    margin-top: 3px;
    font-size: 0.8rem;
    margin-bottom: -10px; 
    text-align: center;
}

.input-control.error input {
    border-color: var(--text2);
}

.input-control .error {
    /* color: var(--text2);
    font-size: 0.8rem;
    margin-top: 3px; */
    text-align: left;
    height: 13px;
}

button{
    border-radius: 50px;
    border: 2px solid transparent;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s ease;
}

.primary-btn{
    background: var(--primary);
    color: var(--text);
    font-weight: 600;
    margin-top: 10px;
}

.primary-btn:hover{
    background: var(--active-primary);
    color: var(--text);
    border: 2px solid var(--active-primary);
}

.back-btn{
    color: var(--text);
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}
