/*css styles for success pages*/
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

:root{
    --bg:#F2FFE1;
    --primary:#F5D636;
    --active-primary:#EDCB1C;
    --text:#3A001E;
    --text2: #FA3F1F;
    --input-bg:#F7F3DC;
    --eye-icon:#CEC699;
    --block: #4ADE5D;
    --block-p:#277B32;
    --block-h1: #0F4C17;
    --form-bg: #FFFDEF;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    min-height: 100vh;
}

main {
    padding-top: 210px;
    padding-bottom: 120px;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
}

/* success block */
.success-box {
    background: var(--form-bg);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 80px 40px;
    border-radius: 25px;
    width: max(40%, 400px);
     /*100% of parent's width, 425px minimum width (default size), */
    position: relative;
    margin: 0 auto;
}

.reset-style {
    padding: 60px 40px;
}

.center {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.success-title{
    margin: auto;
    text-align: center;
}

.success-title h1{
    color: var(--block);
    font-size: 4rem;
}

.title-desc{
    color: var(--text);
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.25rem;
}

.justified {
    text-align: justify;
}

.small-text {
    color: var(--text);
    margin-top: 1.25rem;
}

.login-link {
    color: var(--text);
    font-weight: bold;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}

/* end of success block */