/*css styles for success pages*/
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

:root{
    --bg:#F2FFE1;
    --primary:#F5D636;
    --active-primary:#EDCB1C;
    --text:#3A001E;
    --text2: #FA3F1F;
    --input-bg:#F7F3DC;
    --eye-icon:#CEC699;
    --block: #4ADE5D;
    --block-p:#277B32;
    --block-h1: #0F4C17;
    --form-bg: #FFFDEF;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    min-height: 100vh;
}

main {
    padding-top: 210px;
    padding-bottom: 120px;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
}

/* success block */
.success-box {
    background: var(--form-bg);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 80px 40px;
    border-radius: 25px;
    z-index: 1;
}

.success-box {
    width: 425px; /*100% of parent's width, 425px minimum width (default size), */
    position: relative;
    left: 70px;
}

.reg-form {
    width: 800px; /*100% of parent's width, 425px minimum width (default size), */
    position: relative;
    top: -425px;
}

.success-title{
    position: relative;
    /* padding-left: 15px; */
    margin-bottom: 20px;
}

.success-title h1{
    color: var(--block);
    text-align: center;
}

.title-desc{
    color: var(--text);
    font-size: 0.8rem;
    margin-top: 8px;
    text-align: center;
}

.small-text {
    text-align: center;
    color: var(--text);
    font-size: 0.6rem;
}

.login-link {
    color: var(--text);
    font-weight: bold;
    text-decoration: none;
}

/* end of success block */